/* Planner.css */

.planner-content {
    font-family: Arial, sans-serif;
    
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f5f5f5; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .planner-title {
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .trip-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .form-group {
    position: relative;
    margin-bottom: 15px;
    padding: 6px;
  }
  
  .form-group label {
    position: absolute;
    top: -5px;
    left: 14px;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: #646464;
    padding: 0 8px;
  }
  
  .form-group input {
    outline: 0;
    width: 100%;
    padding: 18px;
    border: #d1d1d1 solid 1px;
    border-radius: 5px;
    font-size: 1rem;
    color: #252525;
    padding-top: 22px;
  }
  
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #3f6c9d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .itinerary {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .itinerary-title {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .day {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 4px solid #29527f;
    border-radius: 4px;
  }
  
  .day-title {
    margin: 0;
    font-size: 1.2em;
    color: #346497;
  }
  
  .day-activities {
    margin: 10px 0 0;
    word-spacing: 0.5rem;
    color: #555;
  }
  